@page "/"

<PageTitle>Index</PageTitle>

<h1>CareView Messaging and Notification</h1>

<br />
<div>
        <img src="APIManagement.png"/>
</div>
<br />
<div>
        <img src="APIManagement2.png"/>
</div>

